<form [formGroup]="addressForm" style="display:contents" (ngSubmit)="onSubmit()">
  <div class="col-sm-6 md-form">
      <!--  <i class="fa fa-user prefix grey-text"></i> -->
      <input type="text" id="addressForm-name" class="form-control" [ngClass]="{'invalid': addressForm.controls['name'].touched && addressForm.controls['name'].errors?.required, 'valid': addressForm.controls['name'].touched && !addressForm.controls['name'].errors?.required }"
          formControlName="name" placeholder="Your Name">
      <!--  <label for="orangeForm-name" data-error="wrong" data-success="right"></label> -->
      <div *ngIf="addressForm.controls['name'].touched">
          <span class="errDisplay" *ngIf="addressForm.controls['name'].errors?.required">Please fill out this field.</span>
      </div>
  </div>
  <div class="col-sm-6 md-form">
      <!--  <i class="fa fa-envelope prefix grey-text"></i> -->
      <input type="text" id="addressForm-phNumber" class="form-control" [ngClass]="{'invalid': addressForm.controls['phoneNumber'].touched && addressForm.controls['phoneNumber'].invalid, 'valid': addressForm.controls['phoneNumber'].touched && addressForm.controls['phoneNumber'].valid }"
          formControlName="phoneNumber" placeholder="Phone Number" mdbActive>
      <!-- <label for="orangeForm-phNumber" data-error="wrong" data-success="right"></label> -->
      <div *ngIf="addressForm.controls['phoneNumber'].touched">
          <span class="errDisplay" *ngIf="addressForm.controls['phoneNumber'].errors?.required">Please fill out this field</span>
          <span class="errDisplay" *ngIf="addressForm.controls['phoneNumber'].errors?.pattern">Invalid Phone Number</span>
      </div>
  </div>
  <div class="col-sm-6 md-form">
      <!--  <i class="fa fa-location-arrow prefix grey-text"></i> -->
      <input type="text" id="addressForm-zip" class="form-control" [ngClass]="{'invalid': addressForm.controls['pincode'].touched && addressForm.controls['pincode'].invalid, 'valid': addressForm.controls['pincode'].touched && addressForm.controls['pincode'].valid }"
          formControlName="pincode" placeholder="Pincode" mdbActive>
      <!--  <label for="defaultForm-email">Your email</label> -->
      <div *ngIf="addressForm.controls['pincode'].touched">
          <span class="errDisplay" *ngIf="addressForm.controls['pincode'].errors?.required">Please fill out this field</span>
          <span class="errDisplay" *ngIf="addressForm.controls['pincode'].errors?.pattern">Only Numbers allowed</span>
      </div>
  </div>
  <div class="col-sm-6 md-form">
      <!--  <i class="fa fa-location-arrow prefix grey-text"></i> -->
      <input type="text" id="addressForm-locality" [ngClass]="{'invalid': addressForm.controls['locality'].touched && addressForm.controls['locality'].invalid, 'valid': addressForm.controls['locality'].touched && addressForm.controls['locality'].valid }"
          class="form-control" formControlName="locality" placeholder="Locality" mdbActive>
      <!--  <label for="defaultForm-email">Your email</label> -->
      <div *ngIf="addressForm.controls['locality'].touched">
          <span class="errDisplay" *ngIf="addressForm.controls['locality'].errors?.required">Please fill out this field!</span>
      </div>
  </div>
  <div class="col-lg-12 md-form">
      <!--     <i class="fa fa-pencil prefix grey-text"></i> -->
      <textarea type="text" id="form8" [ngClass]="{'invalid': addressForm.controls['address'].touched && addressForm.controls['address'].invalid, 'valid': addressForm.controls['address'].touched && addressForm.controls['address'].valid }"
          class="md-textarea" style="height: 25px" formControlName="address" placeholder="Address (Area and Street)" mdbActive></textarea>
      <div *ngIf="addressForm.controls['address'].touched">
          <span class="errDisplay" *ngIf="addressForm.controls['address'].errors?.required">Please fill out this field!</span>
      </div>
  </div>
  <div class="col-sm-4 md-form">
      <!--   <i class="fa fa-map-marker-alt prefix grey-text"></i> -->
      <input type="text" id="defaultForm-city" [ngClass]="{'invalid': addressForm.controls['city'].touched && addressForm.controls['city'].invalid, 'valid': addressForm.controls['city'].touched && addressForm.controls['city'].valid }"
          class="form-control" formControlName="city" placeholder="City/District/Town" mdbActive>
      <!--  <label for="defaultForm-email">Your email</label> -->
      <div *ngIf="addressForm.controls['city'].touched">
          <span class="errDisplay" *ngIf="addressForm.controls['city'].errors?.required">Please fill out this field!</span>
      </div>
  </div>
  <div class="col-sm-4 md-form">
      <!--   <i class="fa fa-map-marker-alt prefix grey-text"></i> -->
      <input type="text" id="defaultForm-landmark" class="form-control" formControlName="landmark" placeholder="Landmark (Optional)"
          mdbActive>
      <!--  <label for="defaultForm-email">Your email</label> -->
  </div>
  <div class="col-sm-4 md-form">
      <div class="M2VvVb">
          <div class="MYSb8y">State</div>
          <div class="_2uWdcR">
              <select class="_3092M2 QoXnA9" formControlName="state" name="state" required="" tabindex="7">
                  <option value="" [disabled]="true">Select State</option>
                  <option *ngFor="let state of states" [value]="state" >{{state}}</option>
              </select>
          </div>
      </div>
  </div>
  <div class="col-sm-6 form-check" style="padding-left:2.25em">
      <!--   <i class="fa fa-map-marker-alt prefix grey-text"></i> -->
      <input class="form-check-input" type="radio" name="delievryTime" formControlName="delievryTime" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">Home (All Day Delievery)</label>
      <!--  <label for="defaultForm-email">Your email</label> -->
  </div>
  <div class="col-sm-6 form-check" style="padding-left:2.25em">
      <!--   <i class="fa fa-map-marker-alt prefix grey-text"></i> -->
      <input class="form-check-input" type="radio" name="delievryTime" formControlName="delievryTime" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">Work (Delievery between 10 Am - 5 Pm)</label>
      <!--  <label for="defaultForm-email">Your email</label> -->
  </div>
  <div class="col-lg-12 md-form" style="margin-bottom: -1.5em;">
      <button type="submit" [disabled]="addressForm.pristine" class="pull-right btn btn-primary btn-sm">Add</button>
  </div>
</form>
