<div class="row">
    <div class="col-md-3">
        <ul class="nav  md-pills pills-primary flex-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" style="padding: .5rem 1rem !important" data-toggle="tab" href="#panel21" role="tab">Credit Card

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding: .5rem 1rem !important" data-toggle="tab" href="#panel22" role="tab">Debit Card

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding: .5rem 1rem !important" data-toggle="tab" href="#panel23" role="tab">Net Banking

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding: .5rem 1rem !important" data-toggle="tab" href="#panel23" role="tab">Wallet
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="padding: .5rem 1rem !important" data-toggle="tab" href="#panel23" role="tab">Cash On Delivery
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <!-- Tab panels -->
        <div class="tab-content vertical">
            <!--Panel 1-->
            <div class="tab-pane fade in show active" id="panel21" role="tabpanel">
                <!-- <h5 class="my-2 h5" style="font-size: .90rem; font-weight: 400;">It is a secured card payment. We’ll save this card for your convenience, you can remove it by
                    visiting Your Account</h5> -->
                    <!-- <div class="d-flex p-2 flex-box">It is a secure credit card trnsaction. There You go !</div> 
                     -->
                     <div class="form-group">
                        <input name="group2" type="radio" class="with-gap" id="radio4">
                        <label for="radio4">Credit card ending in 0121 <img src="../../../assets/img_payments/visa._CB.gif"> </label>
                    </div>   
                    <div class="form-group">
                        <input name="group2" type="radio" class="with-gap" id="radio5">
                        <label for="radio5">Add A New Card</label>
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                        <div class="md-form">
                                                <input mdbActive type="text" id="form1" class="form-control">
                                                <label for="form1" class="">Enter Card Number</label>
                                        </div>
                                </div>
                                <div class="col-sm-2">
                                        <div class="md-form">
                                                <input mdbActive type="text" id="form1" placeholder="CVV" class="form-control">
                                                <label for="form1" class="" style="padding-left: 3.6em;"><i class="fa fa-question-circle"></i></label>
                                        </div>
                                </div>
                                <div class="col-sm-4" style="margin-top: 1.7em;">
                                        <label for="selectForm" class="">Expiry</label>
                                        <select class="mdb-select">
                                                <option value="" disabled selected>MM</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="3">4</option>
                                                <option value="3">5</option>
                                                <option value="3">6</option> 
                                            </select>
                                            <select class="mdb-select">
                                                <option value="" disabled selected>YYYY</option>
                                                <option value="1">2018</option>
                                                <option value="2">2019</option>
                                                <option value="3">2020</option>
                                                <option value="3">2021</option>
                                                <option value="3">2022</option>
                                                <option value="3">2023</option> 
                                            </select>
                                </div>
                            </div>
                            <span style="color:#878787; font-size:14px">Your card details would be securely saved for faster payments. Your CVV will not be stored. 
                                <a href="" >More Info</a>
                            </span>
                        </form>
                    </div>
            </div>
            <!--/.Panel 1-->

            <!--Panel 2-->
            <div class="tab-pane fade" id="panel22" role="tabpanel">

                <h5 class="my-2 h5">Panel 2</h5>

            </div>
            <!--/.Panel 2-->
            <!--Panel 3-->
            <div class="tab-pane fade" id="panel23" role="tabpanel">

                <h5 class="my-2 h5">Panel 3</h5>

            </div>
            <!--/.Panel 3-->
        </div>
    </div>
</div>