<div class="row">
    <div class="col-lg-12">
        <ul class="" style="padding-left: 1.2em;">
        <ng-container *ngIf="addresses">
                <li class="list-group-item" style="border:0px" *ngFor="let addr of addresses; let i = index">
                    <input class="form-check-input" type="radio" [checked]="selectedAddrIndex == i" (change)="changeAddress(i)" name="chooseAddress">
                    <label class="form-check-label" for="storedAddress1">
                        <dl class="small m-b-none">
                            <!-- <dt>Description lists</dt> -->
                            <dd>{{addr.name}} {{addr.phoneNumber}}
                                <a *ngIf="selectedAddrIndex == i" (click)="editAddress(addr); " class="pull-right" style="color: #2874f0"> Edit</a>
                                <a *ngIf="selectedAddrIndex == i" (click)="removeAddress(addr); " class="pull-right" style="color: #ff3547; padding-right:1em"> Remove</a>
                            </dd>
                            <!--  <dd>Delivery T&C applied </dd> -->
                            <dd>
                                <span style="color:#878787; font-size:12px">{{addr.locality}}, {{addr.city}} {{addr.address}} {{addr.state}} {{addr.pinCode}} {{addr.landmark}}</span>
                            </dd>
                        </dl>
                    </label>
                </li>            
        </ng-container>
            <li class="list-group-item" style="border:0px">
                <input class="form-check-input" type="radio" (change)="changeAddress(-1)" [(ngModel)]="selectedAddress" name="chooseAddress" id="addNewAddress" value="newAddress">
                <label class="form-check-label" for="addNewAddress" style="font-size:14px; color: #2874f0; font-weight: 500;">Add A New Address</label>
            </li>
        </ul>
    </div>
    <!--   <div class="col-sm-12">
      <h4 align="center">Add A New Address</h4>
  </div>
 -->
   <new-address *ngIf="selectedAddrIndex == -1 && selectedAddress == 'newAddress'" style="display:contents"></new-address>
   <edit-address *ngIf="selectedAddrIndex != -1 && editExistingAddress == 'editAddress'" style="display:contents" [addreess]="exitingAddress"></edit-address>     
</div>