<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div align="center" id="swtBhndrBox" class="container" style="margin-top: 5em;">
                <h1 style="color:coral; font-weight:normal">Welcome to Sweet Bhandaar !
                    <i class="fa fa-smile-o"></i>
                </h1>
                <a href="" #darkModalForm data-toggle="modal" data-target="#darkModalForm"></a>
               <!--  <div class="row">
                    <div class="col-sm-4">
                        <div *ngIf="error" class="alert alert-danger">
                            <span>{{errorMessage}}</span>
                        </div>
                        <div *ngIf="!error && successMessage" class="alert alert-success">
                            <span>{{successMessage}}
                                <i class="fa fa-smile-o"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-lg-9">
                    </div>
                    <div class="col-sm-3">
                        <div class="pull-right">
                            <a class="btn btn-info" style="color:white">
                                <i class="fa fa-shopping-cart"></i> Cart
                                <span *ngIf="cart.selectedSwts?.length > 0"> {{cart.selectedSwts?.length}}</span>
                                <span *ngIf="cart.selectedSwts?.length == 0"> 0 </span>
                            </a>
                        </div>
                    </div>
                </div> -->
                <div class="row container">
                    <div class="col-md-4" style="margin-bottom:10px" *ngFor="let swt of sweets; let i = index">
                        <div class="card" style="width:270px; height:300px">
                            <img class="card-img-top" src="../../../assets/{{swt.name}}.jpg" alt="Card image" style="width:100%; height: 62%">
                            <div class="card-body">
                                <p class="card-text">{{swt.name}} - {{swt.price}} /- </p>
                                <a (click)="buySweets(i, swt)" class="btn btn-success" style="color:white">
                                    <i class="fa fa-cart-arrow-down"></i> Try!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="container">
                <div class="card" style="margin-top:115px; width: 25rem;">
                    <div class="card-block">
                        <h4 class="card-title" style="font-weight:normal">Your Cart</h4>
                        <ul class="list-group" *ngFor="let selectSwt of cart.selectedSwts; let i = index">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-xs-1">
                                    </div>
                                    <div class="col-sm-5">
                                        {{selectSwt.name}}
                                    </div>
                                    <div class="col-sm-3">
                                         <input type="number" [(ngModel)]="selectSwt.count" (change)="calculateTotal(i, selectSwt)">
                                        
                                    </div>
                                    <div class="col-sm-1">
                                            <a (click)="removeItems(selectSwt, i)" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-trash" style="color:white"></i>
                                                </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <p *ngIf="cart.selectedSwts?.length == 0" class="card-text">Cart is empty please add some sweets.</p>
                        <a *ngIf="cart.selectedSwts?.length > 0" (click)="checkOutNw()" class="pull-right btn btn-info" style="margin:11px; color:white">Checkout</a>
                        <span style="padding-left:10px" *ngIf="cart.selectedSwts?.length > 0">
                            <strong> Total: </strong> {{cart.totalAmount}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-8">
            <div #checkout id="checkout">
                <div  class="card-body" *ngIf="checkOut">
                    <checkout></checkout>
                </div>
            </div>
            <br>
        </div>
        <div class="col-sm-4">
        </div>
    </div>   
</div>



<!-- Modal -->
<div class="modal fade" id="darkModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog form-dark" role="document">
        <!--Content-->
        <div class="modal-content card card-image" style="width: 432px; height: 370px; background-image: url('../../../assets/sign-in/pricing-table.jpg');">
            <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">
                <!--Header-->
                <div class="modal-header text-center pb-4">
                    <h3 class="modal-title w-100 white-text font-weight-bold" id="myModalLabel"><strong>SIGN</strong> <a class="green-text font-weight-bold"><strong> IN</strong></a></h3>
                    <button type="button" class="close white-text" #dismismodal data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">
                    <!--Body-->
                    
                      <!--Grid row-->
                      <div class="row">

                        <!--Grid column-->
                         <div class="col-md-12">
                            <p class="font-normal white-text d-flex justify-content-end">Great ! You have landed into delicious ocean !</p>
                        </div> 
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row d-flex align-items-center mb-4">
                        <!--Grid column-->
                        <div class="text-center mb-3 col-md-12">
                            <signin-social></signin-social>   
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                  
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Modal -->
                
                